@import "tailwindcss";


:root {
  --color1: #ffdbdb;
  --color2: #ffc6c6;
  --color3: #644a07;
  --color4: #594100;
  --input-border:#ddbd8a;
  --input-bg:#fff4e0;
  --input-text:#535b4b;
  --button-border:#8aa15e;
  --button-bg:#feecca;
  --button-text:#6d8741;
  --button-bg-hover:#c5cf97;
  --button-text-hover:#506b38;
  --text-color-story-garden:#5a746c;
  --button-story-border:#f3d5af;
  --background-image-login: /bg-gate-garden.jpg;
  --button-bg-google: #abd873;
  --button-bg-google-hover: #0a9f14;
  
}

:root.dark {

  --input-border: #5c4a2a;
  --input-bg: #2a2318;
  --input-text: #d9d4c9;
  --button-border: #4a5c2d;
  --button-bg: #413523;
  --button-text: #c1d4a0;
  --button-bg-hover: #5c6d3f;
  --button-text-hover: #d9e2c1;
  --text-color-story-garden: #c1d4a0;
  --button-story-border: #3a2d1b;
  --background-image-login: /bg-gate-garden-dark.jpg; 
}

body {
  font-family: 'Montserrat', sans-serif;
}
.button-inner-border::before {
  content: '';
  position: absolute;
  inset: 8px; /* tương đương inset-1 */
  border: 1px solid var(--button-story-border);
  border-radius: inherit;
  pointer-events: none;
}

@layer utilities {

  @keyframes jump {
    0%,
    30%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-8px);
    }
  }

  .animate-jump {
    animation: jump 1s infinite ease-in-out;
  }

  .delay-0 {
    animation-delay: 0ms;
  }
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-400 {
    animation-delay: 400ms;
  }

  @keyframes walk-right {
    0% {
      transform: translateX(-70%); /* Bắt đầu từ ngoài màn hình bên trái */
    }
    100% {
      transform: translateX(0); /* Di chuyển đến vị trí ban đầu */
    }
  }
  
  @keyframes walk-left {
    0% {
      transform: translateX(70%); /* Bắt đầu từ ngoài màn hình bên phải */
    }
    100% {
      transform: translateX(0); /* Di chuyển đến vị trí ban đầu */
    }
  }
  
  .animate-walk-right {
    animation: walk-right 1s ease-in-out;
  }
  
  .animate-walk-left {
    animation: walk-left 1s ease-in-out;
  }

  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(720deg);
      opacity: 0.5;
    }
  }
  

}



