@import "tailwindcss";


:root {
  --color1: #ffdbdb;
  --color2: #ffc6c6;
  --color3: #644a07;
  --color4: #594100;
  --input-border:#ddbd8a;
  --input-bg:#fff4e0;
  --input-text:#535b4b;
  --button-border:#8aa15e;
  --button-bg:#feecca;
  --button-text:#6d8741;
  --button-bg-hover:#c5cf97;
  --button-text-hover:#59753f;
  --text-color-story-garden:#5a746c;
  --button-story-border:#f3d5af;
}

@layer utilities {
  .popup-initial {
    transform: translateX(100%); /* Ẩn ra ngoài màn hình bên phải */
    
    transition: transform 0.3s ease-in-out;
  }
  
  .session-initial {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Khi popup xuất hiện */
  .popup-slide-in {
    transform: translateX(0%); /* Đưa popup vào giữa màn hình */
  }
  
  .session-slide-left {
    transform: translateX(-100%); /* Trượt session list sang trái */
  }
  
  /* Khi popup ẩn */
  .popup-slide-out {
    transform: translateX(100%); /* Đưa popup ra ngoài màn hình bên phải */
  }
  
  .session-slide-right {
    transform: translateX(0); /* Trở lại trạng thái ban đầu của session list */
  }

  @keyframes jump {
    0%,
    30%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(-8px);
    }
  }

  .animate-jump {
    animation: jump 1s infinite ease-in-out;
  }

  .delay-0 {
    animation-delay: 0ms;
  }
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-400 {
    animation-delay: 400ms;
  }

  @keyframes walk-right {
    0% {
      transform: translateX(-70%); /* Bắt đầu từ ngoài màn hình bên trái */
    }
    100% {
      transform: translateX(0); /* Di chuyển đến vị trí ban đầu */
    }
  }
  
  @keyframes walk-left {
    0% {
      transform: translateX(70%); /* Bắt đầu từ ngoài màn hình bên phải */
    }
    100% {
      transform: translateX(0); /* Di chuyển đến vị trí ban đầu */
    }
  }
  
  .animate-walk-right {
    animation: walk-right 1s ease-in-out;
  }
  
  .animate-walk-left {
    animation: walk-left 1s ease-in-out;
  }

  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(720deg);
      opacity: 0.5;
    }
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  .button-inner-border::before {
    content: '';
    position: absolute;
    inset: 8px; /* tương đương inset-1 */
    border: 1px solid var(--button-story-border);
    border-radius: inherit;
    pointer-events: none;
  }
}



